.modal{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #333;
    opacity: 0.4;
    z-index: 1000;
    display: none;
}
.pwd{
    width:600px;
    background: #fff;
    position: fixed;
    top:-400px;
    left:50%;
    margin-left: -300px;
    display: block;
    border-radius: 2%;
    z-index: 1050;
}
input{
    border: 0 none;
    outline: none;
}

.pwd .pwd_body p input{
    width: 240px;
    height: 34px;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-left: 40px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.pwd .pwd_body p{
    margin-top: 10px;
    margin-left: 30px;
}
.pwd .pwd_body p label{
    display: inline-block;
    width: 60px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    margin-left: 10px;

}
.btn{
    color: #fff;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 30px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 100px;
}

#reset{
    background-color: #337ab7;
}
#repaire{
    background-color: #d9534f;
}
#repaire:hover{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
#reset:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.pwd .pwd_body p input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.pwd .pwd_body{
    border-top: 1px solid #e5e5e5;
    padding: 20px 20px;
    border-bottom: 1px solid #e5e5e5;
}
.pwd_footer{
    margin-top: 20px;
}
.close{
    position: absolute;
    top: 20px;
    right:20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    cursor: pointer;
}
.disabled{
    background: #eaeead !important;
}
.pwd .pwd_header h1{
    display: block;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 10px;
}
.error{
    color:red
}
.notDo{
    cursor:not-allowed;
    opacity: 0.3;
}