#departement{
    width: 130px;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 30px;
    margin-left: 30px;
    border: 1px solid #0a6397;
    border-radius: 10%;
}
#course{
    width: 120px;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 30px;
    margin-left: 30px;
    border: 1px solid #0a6397;
    border-radius: 10%;
}
#filter{
    display: inline-block;
    margin-left: 30px;
    font-size: 15px;
    color: #2E2E2E;
    font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
}
.filter_box{
    border-bottom: 1px solid #18cdfb;
    opacity: 0.8;
    padding-bottom: 20px;
}