.tip_error{
    border-color:red !important;
}
.btn_op{
    color: #fff;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#btn_rapire{
    background: #ea3c3d;
    color: #fff;
}
#btn_look{
    background: #0b6ac6;
    color: #fff;
}
#btn_rapire:hover{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
#btn_look:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.filter_inp{
    width: 200px;
    height: 27px;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-left: 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.filter_inp:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
select{
    border: 2px solid #00bbff;
    height:36px;
}
select:hover{
    box-shadow: inset -1px 1px #0b6ac6;
}
.submit{
    width: 100%;
    height: 40px;
    border-top: 2px solid #0E89CF;
}
.submit a{
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: 10px;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #0E89CF;
    padding: 0px 10px;
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
#publish_box{
    min-height: 0px;
}

.inp_tips{
    width: 240px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-left: 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.confirm_pub{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}