.filter_box{
    border-bottom: 1px solid #18cdfb;
    opacity: 0.8;
    padding-bottom: 20px;
}
.btn_op{
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#btn_rapire{
    background: #ea3c3d;
    color: #fff;
}
#btn_look{
    background: #0b6ac6;
    color: #fff;
}
#btn_rapire:hover{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
#btn_look:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btnFilter{
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #0E89CF;
}
select{
    border: 2px solid #00bbff;
    height:36px;
}
select:hover{
    box-shadow: inset -1px 1px #0b6ac6;
}